# Travis CI configuration
language: android

jdk: oraclejdk8

android:
  components:
    - tools
    - android-27
    - build-tools-27.0.3
    - extra-android-m2repository

script:
    - ./gradlew build
    - ./gradlew test
    - ./gradlew pmd
