language: android

jdk: oraclejdk8

android:
  components:
    - tools
    - android-23
    - build-tools-25.0.3
    - extra-android-m2repository

script:
    - ./gradlew build
    - ./gradlew test
    - ./gradlew pmd
