name: CI

on:
  workflow_dispatch:
  push:
    branches:
    - master
    - dev
    paths-ignore:
    - '.idea/**'
    - '**/*.md'
    - '.gitignore'
  pull_request:
    paths-ignore:
    - '.idea/**'
    - '**/*.md'
    - '.gitignore'
  schedule:
    -   cron: '30 5 * * *'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run assemble
        run: ./gradlew :app:assembleCi --parallel

      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: RedReader-${{ github.run_number }}
          path: app/build/outputs/apk/ci/RedReader-ci.apk

  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v4
    
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4
    
    - name: Run PMD
      run: ./gradlew pmd

    - name: Run checkstyle
      run: ./gradlew checkstyle --stacktrace --info

    - name: Android Lint
      run: ./gradlew lint

    - name: Unit tests
      run: ./gradlew test