name: CI

on:
    push:
    pull_request:
    schedule:
        - cron: '30 5 * * *'

jobs:

    pmd:
        name: PMD
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            -   name: Install NDK
                run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147" --sdk_root=${ANDROID_SDK_ROOT}

            -   name: Run PMD
                run: ./gradlew pmd

    checkstyle:
        name: Code style
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            -   name: Install NDK
                run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147" --sdk_root=${ANDROID_SDK_ROOT}

            -   name: Run checkstyle
                run: ./gradlew checkstyle --stacktrace --info

    buildRelease:
        name: Release build
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            -   name: Install NDK
                run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147" --sdk_root=${ANDROID_SDK_ROOT}

            -   name: Run release build
                run: ./gradlew assembleRelease

    buildDebug:
        name: Debug build
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            -   name: Install NDK
                run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147" --sdk_root=${ANDROID_SDK_ROOT}

            -   name: Run debug build
                run: ./gradlew assembleDebug

            -   name: Upload artifact to GitHub
                uses: actions/upload-artifact@v2
                with:
                    name: RedReader-debug.apk
                    path: build/outputs/apk/debug/RedReader-debug.apk

    qodana:
        name: Qodana - Code Inspection
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            -   name: Run Qodana
                uses: JetBrains/qodana-action@v2.0-eap
